[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
mtaa = "*"
flask-cors = "*"
flask-graphql = "*"
graphene = ">=2.0"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
